.result {
  height: 60px;
  background-color: #bbb;
  width: 75%;
}

.result p {
  font-size: 40px;
  margin: 5px;
  

}

.calculator-body {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background: #f0e68c;
}

.button {
  display: block;
  background-color: #bbb;
  width: 75%;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}